@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Poppins:wght@100;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@font-face {
  font-family: 'MonumentExtended';
  src:
    local('MonumentExtended'),
    url(/assets/fonts/MonumentExtended/MonumentExtended-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'MonumentExtended';
  font-weight: 900;
  src:
    local('MonumentExtended'),
    url(/assets/fonts/MonumentExtended/MonumentExtended-Ultrabold.otf) format('opentype');
}
